html {
  height: 100%;
}  
body {
  color: #333;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.4em;
  background-color: #333;
  padding: 0;
  margin: 0;
}
.mapPosition {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: .35;
}
#map {
   height: 100%;
}
.header {
  text-align: center;
  padding: 20px;
}
.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 55%;
}
main {
  position: relative;
  z-index: 5;
  margin-top: 50px;
  width: 100%;
}
.inputForm {
  display: inline-block;
  margin: 0 auto;
  min-height: 34px;
  line-height: 34px;
  border-radius: 4px;
  background-color: #F0EFEC;
  padding: 10px 20px;
  text-align: center;
}
form fieldset {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
}
form label {
  margin-right: 5px;
}
input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  padding: 5px;
  background-color: #ddd;
  border:2px solid #ddd;
  margin-right: 15px;
}
.button, .startButton {
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    background-color: #000;
    border:2px solid #000;
    color: #FFF;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
}
.startButton {
  margin-top: 30px;
}
.result {
  font-size: 14px;
  min-height: 64px;
  border-radius: 4px;
  background-color: #F0EFEC;
  margin-bottom: 10px;
  padding: 10px;
}
.result img {
  float: left;
  margin: 0 10px 0 0;
  height: 64px;
  width: 64px;
}
.result p {
  padding: 0 0 5px 0;
  margin: 0;
}
.result p span {
  font-size: 16px;
  font-weight: 700;
}
.results {
  max-width: 960px;
  margin-top: 0px;
  margin-left:auto;
  margin-right: auto;
  margin-bottom: 50px;
  padding: 0 20px;
}

@media only screen and (max-width: 799px){
  main {
    margin-top: 20px;
  }
  .header img {
    max-width: 300px;
  }
  .inputForm {
    padding: 20px 20px;
  }
  form fieldset {
    display: block;
    margin-bottom: 20px;
  }
  input {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 339px){
  .header img {
    max-width: 100%;
  }
}